In [2]:
import numpy as np
import pandas as pd
import biogeme_nice ###my code

In [11]:
df = pd.read_csv("clean_train.csv")

df["Assortment"] = df["Assortment"].apply(lambda x: [int(i) for i in x[1:-1].split(",")])
df["Probability"] = df["Probability"].apply(lambda x: [float(i) for i in x[1:-1].split(",")])
df

,Assortment,Probability
0,"[0, 2]","[0.6171762553809882, 0.382823744619012]"
1,"[0, 22, 27]","[0.49010203287014026, 0.3856208197783525, 0.12..."
2,"[0, 7, 17, 22]","[0.17383055343275639, 0.44812960860117884, 0.2..."
3,"[0, 17, 7, 21, 14]","[0.1338762504510885, 0.1933610050447225, 0.365..."
4,"[0, 7, 2, 25, 30, 13]","[0.09520137647807961, 0.4258881190119289, 0.02..."
...,...,...
2495,"[0, 13]","[0.37037705537265336, 0.6296229446273469]"
2496,"[0, 23, 17]","[0.25241095695520893, 0.10976818151988744, 0.6..."
2497,"[0, 11, 10, 29]","[0.13702096921422796, 0.17458857209162085, 0.6..."
2498,"[0, 16, 25, 13, 1]","[0.167781680054737, 0.29015312192773385, 0.148..."
2499,"[0, 22, 10, 15, 4, 17]","[0.0784077752482451, 0.03763805678406826, 0.51..."

In [3]:
### feature matrix given in problem instructions
ind = range(1,31)
x1 = [0] + [8 if 6<=i and i<=15 else 4 for i in ind]
x2 = [0] + [2.9 if 6<=i and i<=20 else 2.2 if 26<=i else 3.2 for i in ind]
x3 = [0] + [95 if i<=5 or (11<=i and i<=15) and i<=20 else 135 if 26<=i else 60 for i in ind]
x4 = [0] + [3000-300*((i-1)%5) for i in ind]
x = np.array([x1,x2,x3,x4]).T

In [6]:
n_dups = 100
# choice_df = biogeme_nice.choice_df(df, n_dups)
# choice_df.to_csv(f"choice_df%s.csv" % n_dups, index=False)
# av_df = biogeme_nice.av_df(choice_df)
# av_df.to_csv(f"av_df%s.csv" % n_dups, index=False)

In [4]:
# choice_df = pd.read_csv("choice_df100.csv")
# choice_df["Assortment"] = choice_df["Assortment"].apply(lambda x: [int(i) for i in x[1:-1].split(",")])
# choice_df

                    Assortment  Choice
0                       [0, 2]       0
1                       [0, 2]       0
2                       [0, 2]       0
3                       [0, 2]       0
4                       [0, 2]       0
...                        ...     ...
249995  [0, 22, 10, 15, 4, 17]      17
249996  [0, 22, 10, 15, 4, 17]      17
249997  [0, 22, 10, 15, 4, 17]      17
249998  [0, 22, 10, 15, 4, 17]      17
249999  [0, 22, 10, 15, 4, 17]      17

[250000 rows x 2 columns]

In [7]:
av_df = pd.read_csv("av_df100.csv")
av_df

,Choice,Av0,Av1,Av2,Av3,Av4,Av5,Av6,Av7,Av8,...,Av21,Av22,Av23,Av24,Av25,Av26,Av27,Av28,Av29,Av30
0,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,17,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
249996,17,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
249997,17,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
249998,17,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
249999,17,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [9]:
split = int(0.8*len(av_df))

train = av_df[:split]

In [10]:
b_dict = biogeme_nice.calc_beta(train, x)
b_dict

[09:43:15] < Warning >   Cannot read file __logit.iter. Statement is ignored.

{'B1': 0.3212892703550074,
 'B2': 0.4767749032618438,
 'B3': -0.023165723309799064,
 'B4': -0.00046576011899774174}

In [65]:
test = df[split:].reset_index(drop=True)
pred =biogeme_nice.pred_df(b_dict, x, test["Assortment"])
test["Pred_Probability"] = pred["Pred"]
test

,Assortment,Probability,Pred_Probability
0,"[0, 28]","[0.7655117229430666, 0.2344882770569336]","[0.8877536226027659, 0.112246377397234]"
1,"[0, 4, 13]","[0.2881765480677232, 0.11765071982483613, 0.59...","[0.2958454124457298, 0.19233926995956602, 0.51..."
2,"[0, 29, 22, 5]","[0.37434498209263406, 0.07830496569761133, 0.2...","[0.3328364611238037, 0.04933579035167767, 0.36..."
3,"[0, 12, 22, 7, 4]","[0.1371057133090321, 0.28959860908943647, 0.06...","[0.13101064903096304, 0.19333199144274724, 0.1..."
4,"[0, 14, 1, 29, 23, 8]","[0.11713549240756921, 0.30317790783867066, 0.0...","[0.11281906032203715, 0.22881380962611705, 0.0..."
...,...,...,...
495,"[0, 13]","[0.37037705537265336, 0.6296229446273469]","[0.3662991172431014, 0.6337008827568986]"
496,"[0, 23, 17]","[0.25241095695520893, 0.10976818151988744, 0.6...","[0.3106919122869391, 0.39850026918193576, 0.29..."
497,"[0, 11, 10, 29]","[0.13702096921422796, 0.17458857209162085, 0.6...","[0.1264833880679492, 0.15921328494532633, 0.69..."
498,"[0, 16, 25, 13, 1]","[0.167781680054737, 0.29015312192773385, 0.148...","[0.17560140178615266, 0.14020154359281273, 0.3..."
499,"[0, 22, 10, 15, 4, 17]","[0.0784077752482451, 0.03763805678406826, 0.51...","[0.08652721320757539, 0.09466731808240254, 0.4..."

In [ ]:
def mae(y,q):
    return np.mean(np.abs(np.subtract(y,q)))

In [66]:
mae_list = []
for i in range(len(test)):
    mae_list.append(mae(test["Probability"][0], test["Pred_Probability"][0]))
f'Mean of each row MAE: %f' % np.mean(mae_list)

'Mean of each row MAE: 0.122242'

In [68]:
b_dict = biogeme_nice.calc_beta(train, x, intercept=True)

test1 = df[split:].reset_index(drop=True)
pred = biogeme_nice.pred_df(b_dict, x, test1["Assortment"])
test1["Pred_Probability"] = pred["Pred"]

mae_list = []
for i in range(len(test)):
    mae_list.append(mae(test1["Probability"][0], test1["Pred_Probability"][0]))
f'Mean of each row MAE: %f' % np.mean(mae_list)

'Mean of each row MAE: 0.234427'